/* RESETS */

* {
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-weight: 0;
    padding: 0;
}

body { 
    height: 100dvh;
}

body.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

a {
    text-decoration: none;
} 

ul {
    padding: 0%;
}

i {
    color: #990011;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* NAVEGATION MENU */

.navbar a {
    color: #323232;
}

.nav_menu {
    width: 100dvw;
}

.nav_menu a {
    font-family: 'Rubik', sans-serif;
    color: #323232;
}

/* MAIN SECTION */ 

.page-content {
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.video-index {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    filter:opacity(70%);
}

.video-wrapper {
    position: relative;
    width: 100dvw;
    height: 100dvh;
    text-align: center;
    display: flex;
    margin:0
}

.page-content {
    position: relative;
}

.titulo-index {
    color: #323232;
    font-family: 'Rubik', sans-serif;
    font-weight: 900;
    font-size: 5em;
}
span {
    text-wrap: wrap;
}

h2 {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

h3 {
    font-family: 'Rubik', sans-serif;
    font-weight: 200;
}

span {
    color: #990011;
}

.button_main {
    color: #FCF6F5;
    background-color: #990011;
    margin-top: 5dvh;
}

/* FOOTER */

footer {
    padding-left: 5dvw;
    padding-right: 5dvw;
    font-family: 'Rubik', sans-serif;
}

/* PAGINA MAIN */

.pagina-principal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.video-container {
    position: relative;
}

.video-container video {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    z-index: -1;
    filter:opacity(70%);
}

.video-container .caption {
    z-index: 1;
    position: relative;
    text-align: center;
    padding-top: 8dvh;
    padding-bottom: 4dvh;
}

.video-container .boton-book-finder {
    padding-bottom: 4dvh;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form .input-main{
    width: 60dvw;
}

.contenedor-cards {
    margin-top: 5dvh;
    margin-bottom: 5dvh;
}

.cards-tracker {
    font-family: 'Rubik', sans-serif;
}

.cards-tracker span {
    font-weight: 400;
    font-style: italic;
}

.cards-tracker p {
    font-size: 1em;
    margin: 0;
}

/* Pagina 2: Tracker */
.titulo-tracker {
    font-size: 3rem;
    font-weight: 800;
    font-family: 'Rubik', sans-serif;
}

.titulo-tracker span {
    color: #323232;
}

